{% extends 'listings/base.html'%}
{%load static%}
{%block  content%}



<!-- templates/listings/about.html -->

    <div class="container mt-5" style="padding: 30px;">
        <div class="row">
            <div class="col-md-6">
                <img src="/media/media/basketball.png" class="img-fluid" alt="About Us Image">
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Sed vel efficitur tortor.
                    Integer ullamcorper urna vel sapien semper, a rhoncus elit finibus.</p>
                <p>Proin cursus massa sit amet massa aliquam, ut congue neque faucibus. Vivamus quis justo at mi cursus
                    hendrerit. Suspendisse potenti. Donec eu dui in velit tincidunt gravida sit amet et arcu.</p>
                <p>Quisque sit amet tortor nec tellus finibus tincidunt. Duis vel fermentum elit. Fusce posuere, velit at
                    maximus tristique, sapien eros tincidunt felis, a pharetra justo ligula ut arcu.</p>
            </div>
        </div>
    </div>
{% endblock %}


      
